/*
 * Background, dark blue: #162447
 * lighter blue: #1F4068
 * Dark: #1B1B2F
 * Red: #E43F5A
 */

html, body {
    background-color: #1B1B2F;
    color: white;
    height: 90vh;
    position: relative;
}

#player-stuff {
    display: flex;
    height: 50px;
    align-items: center;
    margin: auto;
    width: 50%;
}

#player {
    width: 50%;
}

a {
  text-decoration: none;
}

#previous, #next {
  color: white;
  font-size: 16px;
  width: 40px;
  height: 40px;
  display: grid;
  align-content: center;
  text-align: center;
}

#rating {
  color: #E43F5A;
  font-size: 16px;
  width: 50px;
  height: 50px;
  display: grid;
  align-content: center;
  text-align: center;
}

.control-button:hover {
    opacity: 70%;
}

.control-button:active {
    opacity: 100%;
}

#playlist {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 90%;
}

.playlist-entry {
   list-style-type: none;
   font-size: 0.9em;
   margin-left: -30px;
   cursor: pointer;
}

.playlist-entry:hover {
    background-color: #1F4068;
}

#playlist-header {
   font-weight: bold;
   word-spacing: 4em;
   border-bottom: 1px white solid;
   list-style-type: none;
}
