<DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
            <title>Music Player</title>
            <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico"/>

            <link rel="stylesheet" href="static/style.css">

            <script type="text/javascript" src="static/load_songs.js"></script>
    </head>
    <body>
        <p>Music Player</p>
        <audio  controls preload="metadata" style="width:50%;", id="player">
            <source src="static/music/Janan Youkhanna/01-AudioTrack 01.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio><br />

        <div id="rating">
        </div>

        <p id="playlist_header">Album | Song</p>
        <div id="playlist">
            <ul id="lst">
            </ul>
        </div>

    </body>
</html>
